.comments-dropdown-container {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
  margin-left: 11px;
}

.comments-count {
  margin-right: 16px;
  font-size: 14px;
  color: var(--text);
}

.custom-dropdown-container {
  position: relative;
  display: inline-block;
}

.custom-dropdown-button {
  padding: 8px 16px;
  background-color: var(--bg);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--bg);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: var(--text);
}

.custom-dropdown-item {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.custom-dropdown-item:hover {
  opacity: 20%;
}

#commentImg{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.addComment{
  display: flex;
  padding: 10px;
}

#theComment{
  border-bottom: 1px solid rgb(84, 83, 83);
  width: 900px;
  white-space: nowrap;
  color: #aaa;
}

.viewerComments{
  margin-top: 30px;
  display: flex;
}

.comment {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.comment-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: bold;
  margin-right: 10px;
  color: var(--text);
}

.comment-time {
  color: rgb(140,140,140);
  font-size: 13px;
}

.comment-text {
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--text);
}

.comment-actions button {
  margin-right: 10px;
}

.comment-actions{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.comment-like{
  border: none;
  background: none;
  color: var(--text);
}

.comment-like:hover{
  background-color: #aaa;
  border-radius: 50%;
}
.comment-dislike:hover{
  background-color: #aaa;
  border-radius: 50%;
}
.comment-reply:hover{
  background-color: #aaa;
  border-radius: 20px;
}

.comment-dislike{
  border: none;
  background: none;
  color: var(--text);
  margin-left: 10px;
}

.comment-reply{
  border: none;
  background: none;
  color: var(--text);
  font-size: 13px;
  font-weight: bold;
}


.likeCount{
  color: rgb(140,140,140);
  font-size: 12px;
}



.input-container {
 border-radius: 10px;
 background-color: azure;
}